<html xmlns:th="http://thymeleaf.org" xmlns:tdth="http://www.w3.org/1999/XSL/Transform">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			<!-- These 4 rows below are for demonstration purposes only
			     You will need to edit the code below in order to make
			     it dynamically list ALL 100 transactions from the Repo -->
			<tr>
			<tr th:each="transaction : ${transactions}">
				<td>
					<a th:href="@{/transactions/{id}(id=${transaction.id})}" th:text="${transaction.id}"></a>
				</td>
				<td th:text="${transaction.date}"></td>
				<td th:text="${transaction.retailer}"></td>
				<td th:text="${(transaction.type == 'C') ? transaction.amount : '-'}"></td>
				<td th:text="${(transaction.type == 'C') ? '-' : transaction.amount}"></td>
			</tr>

		</table>
			
		</table>
	</body>
</html>